*{
    margin: auto;
}

/*Smooth Scroll*/
html{
    scroll-behavior: smooth;
}

/*Barra de navegacion*/
body{
    height: 145vh;
    width: 100%;
    position: relative;
}

header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 80px;
    z-index: 1000 !important;
    background-color: rgba(0, 0, 0, .5);
}

.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}


.nav-item{
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;   
}

.nav-link{
    color: #fff;
}

.navbar-brand{
    color: #fff;
}

.nav-link:hover{
    color: rgb(40, 221, 221);
}

.navbar-brand:hover{
    color: #fff;
}
/*Carousel*/
.carousel-inner img{
    width: 100%;
    max-height: 1080px;
}

/*info*/

.info{
    background-color: black;
    padding-top: 3%;
}

.h2{
    text-align: center;
    color: white;
    background: black;
    padding-top: 40px;
    padding-bottom: 20px;
}

.info_bg{
    background: black;
    color: white;
    padding-top: 20px;
}

.fa {
    background-color: rgb(40, 221, 221);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 135px;
    padding-right: 135px;
    border-radius: 5px;
}

/*destacado*/
.destacado{
    padding-top: 3%;
}

.card-body{
    background-color: rgb(40, 221, 221); 
    color: white;
}

/*layout*/

.form-label{
    color: white;
}

.boton{
    margin-top: 10px;
    margin-bottom: 60px;
}

/*footer*/

footer{
    background-color: rgb(40, 221, 221);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
}

footer h2{
    display: inline-block;
}

.bi{
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

.bi-icons{
    display: inline-block;
    margin-left: 40%;
}